.project-card {
    width: 300px;
    background: oklch(from var(--primary) calc(l - 0.2) c h);
    border: none;
    border-radius: 12px;
    overflow: hidden;

    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.project-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.35);
}

.project-card .card-img-top {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.project-card .card-body {
    padding: 20px;
    background: oklch(from var(--primary) calc(l - 0.2) c h)
}

.project-card .card-title {
    color: var(--text);
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 12px;
    margin-top:12px
}

.project-card .card-text {
    color: var(--text);
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 20px;
}

.project-card .btn {
    padding: 10px 18px;
    text-decoration: none;
    border-radius: 8px;
    font-size: 0.95rem;
    font-weight: 600;
    transition: transform 0.2s ease;
    background-color: var(--secondary);
    color: var(--text-alt);
    margin-bottom: 50px;
}

.project-card .btn:hover {
    transform: scale(1.05);
}